@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --text-inactive: gray;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Serif KR", serif;
}

header {
  position: sticky;
  top: -130px;
  z-index: var(--z-index-top);
}

p {
  line-height: 1.5;
}

.content {
  overflow-wrap: break-word;
  /* reduce the top margin of the interactive example heading */
}
.content li a {
  text-decoration: none;
  color: black;
}
.content li a:hover {
  color: gray;
  text-decoration: underline;
}
.content h1 a:link,
.content h1 a:visited,
.content h2 a:link,
.content h2 a:visited,
.content h3 a:link,
.content h3 a:visited,
.content h4 a:link,
.content h4 a:visited,
.content h5 a:link,
.content h5 a:visited,
.content h6 a:link,
.content h6 a:visited {
  color: var(--text-primary);
  text-decoration: none;
}
.content h1 a:hover,
.content h1 a:focus,
.content h2 a:hover,
.content h2 a:focus,
.content h3 a:hover,
.content h3 a:focus,
.content h4 a:hover,
.content h4 a:focus,
.content h5 a:hover,
.content h5 a:focus,
.content h6 a:hover,
.content h6 a:focus {
  text-decoration: underline;
}
.content h1 a:active,
.content h2 a:active,
.content h3 a:active,
.content h4 a:active,
.content h5 a:active,
.content h6 a:active {
  background-color: transparent;
}
.content h1 a[href^="#"]:hover:after,
.content h2 a[href^="#"]:hover:after,
.content h3 a[href^="#"]:hover:after,
.content h4 a[href^="#"]:hover:after,
.content h5 a[href^="#"]:hover:after,
.content h6 a[href^="#"]:hover:after {
  color: var(--text-inactive);
  content: "#";
  display: inline-flex;
  font-size: 0.7em;
  line-height: 1;
  margin-left: 4px;
  text-decoration: none;
}
.content h1::after {
  text-decoration-color: var(--category-color);
}
.content h2:first-of-type {
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-self: center;
}

body {
  overflow-y: scroll;
}

figure img {
  max-width: 100%;
}
@media (max-width: 800px) {
  figure img {
    transition: all 0.2s linear;
  }
  figure img:hover {
    transform: scale(1.2);
  }
}

pre.src {
  white-space: pre-wrap;
  word-wrap: break-word;
  position: inherit;
}

.opacity {
  opacity: 0.8;
  backdrop-filter: blur(30px);
}

.center {
  padding: 70px 0;
  text-align: center;
}

.none-deco {
  text-decoration: none;
}

.stroke {
  -webkit-text-stroke: 1px gray;
}

.banner {
  min-height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("/img/garden.jpg");
}
.banner a {
  text-decoration: none;
  color: white;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

#nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0.3em;
  background-color: black;
  margin: 0;
}
#nav ul li {
  display: inline-block;
}
#nav ul li a {
  color: white;
  mix-blend-mode: difference;
  text-decoration: none;
}
#nav ul li a:hover {
  text-decoration-line: underline;
}

#zettelkasten-list {
  margin: 1em;
}
#zettelkasten-list ul {
  padding: 0;
  margin: 0;
}
#zettelkasten-list ul li {
  border: 1px solid grey;
  border-radius: 0.5em;
  list-style: none;
  padding: 1rem;
  display: block;
  font-size: x-large;
  margin-bottom: 0.5em;
}
#zettelkasten-list ul li p {
  padding: 0;
  margin: 0.3em;
}
#zettelkasten-list ul li p:first-child {
  font-size: x-large;
}
#zettelkasten-list ul li p:nth-child(2) {
  font-size: medium;
  color: grey;
}

/*# sourceMappingURL=main.css.map */
